.footer_transition {
	background-color: #334358;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	height: 3rem;
}
.footer_transition a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
