.checkoutProduct {
	display: flex;
	margin: 20px 0;
	&_info {
		padding-left: 20px;
		button {
			background: $amazon-orange;
			border: 1px solid;
			margin-top: 10px;
			border-color: $border-color;
			color: #111;
		}
	}

	&_image {
		object-fit: contain;
		width: 180px;
		height: 180px;
	}
	&_rating {
		display: flex;
	}
	&_title {
		font-size: 17px;
		font-weight: 800;
	}
}
